.main {
  width: 100%;
  // Desktop
  @media only screen and (min-width: 1200px) {
    width: 75%;
  }
}

.teaser {
  padding-bottom: var(--space-md);
}

.heading {
  font-weight: 400;
  font-size: x-large;

  @media only screen and (min-width: 1200px) {
    font-size: large;
    font-weight: 500;
  }
}

.author {
  margin-top: auto;
  font-weight: 500;
  padding-bottom: var(--space-sm);
}

// Featured Article
.featured {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--color-border);

  // Desktop
  @media only screen and (min-width: 1200px) {
    flex-direction: row;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  &-body {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    order: 2;

    @media only screen and (min-width: 1200px) {
      width: 45%;
      padding: 0;
      padding-right: var(--space-md);
      order: 1;
    }
  }

  &-img-wrap {
    width: 100%;
    order: 1;
    padding-bottom: var(--space-md);

    @media only screen and (min-width: 1200px) {
      width: 55%;
      height: auto;
      order: 2;
      padding-bottom: 0;
    }
  }

  &-img {
    width: 100%;
    object-fit: contain;
    object-position: left;
    @media only screen and (min-width: 1200px) {
      height: auto;
    }
  }

  &-heading {
    font-weight: 400;
    font-size: x-large;

    @media only screen and (min-width: 1200px) {
      font-size: xx-large;
    }
  }
}

// All Other Articles
.article-wrap {
  height: auto;
  @media only screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: var(--space-md);
    height: 480px;
  }
}

.article {
  // This will work however not currently not with any content and size on this demo
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: var(--space-sm);
  border-bottom: 1px solid var(--color-border);

  @media only screen and (min-width: 1200px) {
    width: 33.3%;
    flex: 1 1 33.3%;
    padding-top: 0;
    border-bottom: 0;
  }

  &:first-child {
    @media only screen and (min-width: 1200px) {
      padding-right: var(--space-xs);
    }
  }

  &:last-child {
    @media only screen and (min-width: 1200px) {
      padding-left: var(--space-xs);
    }
  }

  &:not(:first-child) {
    @media only screen and (min-width: 1200px) {
      border-left: 1px solid var(--color-border);
    }
  }

  &-body {
    @media only screen and (min-width: 1200px) {
      height: 100%;
      display: flex;
      flex-direction: column;
    }
  }

  &-img {
    padding-bottom: var(--space-md);
    height: auto;

    @media only screen and (min-width: 1200px) {
      height: 180px;
      width: 100%;
      object-fit: cover;
      object-position: left;
      margin-bottom: var(--space-sm);
      padding-bottom: 0;
    }
  }
}

.half {
  @media only screen and (min-width: 1200px) {
    padding: 0.6rem 0.6rem 0rem;
    & + & {
      &::before {
        content: "";
        padding-top: var(--space-sm);
        border-top: 1px solid var(--color-border);
        width: 99%;
      }
    }
  }
}
