.main {
  width: 100%;
  // Desktop
  @media only screen and (min-width: 1200px) {
    width: 75%;
  }
}

.featured {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--color-border);
  // Desktop
  @media only screen and (min-width: 1200px) {
    flex-direction: row;
  }

  &-body {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    @media only screen and (min-width: 1200px) {
      width: 45%;
      padding-right: var(--space-md);
    }
  }

  &-img-wrap {
    width: 100%;
    @media only screen and (min-width: 1200px) {
      width: 55%;
      height: auto;
    }
  }

  &-img {
    width: 100%;
    object-fit: contain;
    object-position: left;
    @media only screen and (min-width: 1200px) {
      height: auto;
    }
  }
}

.teaser {
  padding-bottom: var(--space-md);
}

.heading {
  font-size: xx-large;
  font-weight: 400;
}

.author {
  margin-top: auto;
  font-weight: 500;
  padding-bottom: var(--space-sm);
}
