.main {
  width: 100%;
  // Desktop
  @media only screen and (min-width: 1200px) {
    width: 66%;
  }
}

.featured {
  display: flex;
  flex-direction: column;
  // Desktop
  @media only screen and (min-width: 1200px) {
    flex-direction: row;
  }

  &-body {
    width: 100%;
    max-width: 600px;
    @media only screen and (min-width: 1200px) {
      width: 50%;
      padding-right: var(--space-xxl);
    }
  }

  &-img-wrap {
    width: 100%;
    @media only screen and (min-width: 1200px) {
      width: 50%;
      height: auto;
    }
  }

  &-img {
    width: 100%;
    object-fit: contain;
    object-position: left;
    @media only screen and (min-width: 1200px) {
      height: auto;
    }
  }
}

.author {
  font-weight: 500;
}
