.aside {
  width: 100%;
  display: flex;
  flex-direction: column;
  @media only screen and (min-width: 1200px) {
    width: 25%;
    padding: 0 var(--space-sm);
  }
}

.author {
  margin-top: auto;
  font-weight: 500;
  padding-bottom: var(--space-sm);
  @media only screen and (min-width: 1200px) {
    font-size: small;
  }
}

.heading {
  font-weight: 400;
  font-size: x-large;
  margin-top: var(--space-sm);

  @media only screen and (min-width: 1200px) {
    font-size: large;
    font-weight: 500;
  }
}

// Featured Article
.featured {
  @media only screen and (min-width: 1200px) {
    border-left: 1px solid var(--color-border);
    padding-left: var(--space-sm);
    height: 345px;
    display: flex;
    flex-direction: column;
    &::after {
      content: "";
      padding-bottom: var(--space-sm);
      border-bottom: 1px solid var(--color-border);
      width: 99%;
      display: flex;
      margin-top: auto;
    }
    margin-bottom: var(--space-lg);
  }
  &-body {
    display: flex;
    flex-direction: column;
    @media only screen and (min-width: 1200px) {
      padding: var(--space-xxs);
    }
  }
  &-img-wrap {
    padding-top: var(--space-md);
    @media only screen and (min-width: 1200px) {
      padding-top: 0;
    }
  }
}

.article {
  @media only screen and (min-width: 1200px) {
    padding-left: var(--space-sm);
    border-left: 1px solid var(--color-border);
  }
  &:not(:last-child) {
    &::after {
      content: "";
      padding-bottom: var(--space-sm);
      border-bottom: 1px solid var(--color-border);
      width: 99%;
      display: flex;
      margin-top: auto;
    }
  }
}
