:root {
  font-family: "IBM Plex Serif", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.4;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Theme */
  --color-heading: #2b2c2d;
  --color-border: #dddfe0;
  --color-text: #140800;
  --space-xxxs: 2px;
  --space-xxs: 4px;
  --space-xs: 8px;
  --space-sm: 12px;
  --space-md: 16px;
  --space-lg: 20px;
  --space-xl: 24px;
  --space-xxl: 32px;
  --space-xxxl: 48px;
  --mobile-bp: 768px;
}
